.Navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(226, 226, 226, 0.35);
    position: fixed;
    z-index: 50;
    margin: 0 auto;   
  }
  
  .Navbar__items {
    margin: 16px 80px;
    display: flex;
    gap: 4rem;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  
  .Navbar__.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .Search__iconClass {
    width: 1.094rem;
    height: 1.094rem;
  }
  
  .Search__icon {
    background-color: #e44361;
    border-radius: 30%;
    padding: 5px;
    width: 24px;
    height: 24px;
  }
  
  
  #searchQueryInput {
    width: 18.75rem;
    height: 2.875rem;
    background: #ffffff;
    outline: none;
    border: solid 0.5px #c4c4c4;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 0.875rem;
  }
  
  #searchQuerySubmit {
    justify-content: center;
    align-items: center;
    margin-left: -2.688rem;
    margin-right: 3.125rem;
    width: 35px;
    height: 35px;
    background: #e44361;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 5px;
    transform: translateY(0.125rem);
  }
  
  .Navbar__menu {
    display: flex;
    flex-direction: row;
    gap: 2.9rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
  
  .Navbar__menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.45rem;
  }
  
  .Navbar__createShopBtn {
    font-family: Roboto;
    font-style: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    background-color: #808080	;
    border-radius: 18px;
  }
  
  .Navbar__loginBtn{
    font-family: Roboto;
    font-style: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    background-color: #808080	;
    border-radius: 18px;
  }
  
  
  
  .Navbar__cartContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    width: 90px;
    border-radius: 50px;
    gap: 1rem;
  }
  
  .Navbar__cartNo {
    display: flex;
    align-items: center;
    padding: 3px;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #ff0000;
  }
  
  .Navbar__profilPic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  
  loginButton {
    display: block;
    width: 100px;
    height: 30px;
    background: #000000;
    text-align: center;
    line-height: 30px;
    color: #2874f0;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
.more, .fullName {
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
  }
.cart {
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px
  }

.authContainer{
  color: #212121;
  margin: 0 auto;
  border-radius: 20px;
  height: 528px;
  max-width: 750px;
  min-width: 650px;
}
.row{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  height: 528px;
    max-width: 750px;
    min-width: 650px;
}

.leftspace{
  width: 40%;
  height: 100%;
  color: #fff;
  letter-spacing: 1px;
  background-color: #f08928;
  background-repeat: no-repeat;
  background-position: center 85%;
  padding: 40px 33px;
  box-sizing: border-box;
  
}

.rightspace{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}